.single-post {
    
    .site-main {
        display: flex;
        flex-flow: row wrap;
        @include container(large)
    }

    &__body {
        flex: 0 1 100%;
        max-width: 100%;
        @include bp($m) {
            max-width: 75%;
        }
    }
    &__side {
        flex: 0 1 100%;
        max-width: 100%;
        @include bp($m) {
            max-width: 25%;
        }
    }

}